.el-dropdown-menu__item {
  color: #409EFF;
  font-size: .0625rem !important;
  line-height: .1458rem !important;
}

.el-card.is-always-shadow {
  box-shadow: none;
  border: none !important;
}

.el-scrollbar__view {
  height: 100%;
}

// 导航菜单
.el-menu--horizontal {
  border-bottom: none !important;
}

.el-menu {
  border-right: none !important;
}

.el-menu--display,
.el-menu--display + .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown-menu__item--divided:before,
.el-menu,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
  background-color: transparent;
}

.el-message__icon,
.el-message__content {
  display: inline-block;
}

.el-date-editor .el-range-input {
  height: auto;
  overflow: hidden;
  color: #fff;
  background: transparent!important;
}
.el-date-editor .el-range-separator {
  height: auto;
  overflow: hidden;
  color: #000;
}

.el-dialog__wrapper {
  z-index: 2048;
}


.el-col {
  margin-bottom: .0417rem;
}

.el-main {
  padding: 0 !important;
}

//  self - element-ui - style

.el-icon--right {
  color: #fff!important;
}

// 级联
.el-cascader__dropdown {
  border: 1px solid #409EFF;
}
.el-cascader-node:hover {
  background-color: #0076f6!important;
}
.el-cascader-node.is-active {
  font-weight: 600;
  background-color: rgba(5, 41, 95, 0.9);
}

// 导航菜单
.el-submenu__title,
.el-menu-item
{
  font-size: .0833rem;
  // color: #fff;
  padding: 0 .1042rem;
  cursor: pointer;
  height: .2917rem;
  line-height: .2917rem;
  box-sizing: border-box;
}
.el-submenu__title:hover {
  background-color: rgba(16, 43, 121, 0.4)!important;
  color: #fcac0f!important;
  // background-color: #e7a11c;
}
.el-menu-item:hover {
  background-color: rgba(16, 43, 121, 0.4)!important;
  color: #fcac0f!important;
  // background-color: #e7a11c;
}
/* 箭头颜色 */
.el-submenu__title i {
  color: #fff!important;
}
/* 箭头大小 */
.el-submenu__icon-arrow {
  margin-top: -0.036458rem;
  font-size: .0625rem;
}
// 菜单选中
.el-menu-item.is-active {
  // color: #fcac0f!important;
  background-color: rgba(16, 43, 121, 0.6)!important;
  span {
    color: #fcac0f!important;
  }
}
.el-submenu__icon-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
}

//  卡片
.el-card__body {
  padding: .1042rem;
  background-color: rgba(5, 41, 95, 0.1)!important;
}

.tableContent {
  background: rgba(1, 51, 102, 0.3);
  padding: 10px 10px;
}

//  表格
.el-table, .el-table__expanded-cell {
  background-color: transparent;
  border: transparent!important;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #0076c8;
  border-right: none;
}
.el-table--border,
.el-table--group {
  /* border: .0052rem solid #0076c8; */
  border: none;
}
// .el-table__body tr:hover > td{
//   background-color:rgba(0, 229, 255, 0.3) !important;
// }

// .el-table--enable-row-hover .el-table__body tr:hover > td {
//   background-color: rgba(0, 229, 255, 0.3) !important;
// }

// .el-table__body tr.hover-row>td {
//   background-color: rgba(0, 229, 255, 0.3) !important;
// }
// 固定在右侧下方的白线
.el-table__fixed-right::before, .el-table__fixed::before {
  background: transparent;
}

// 表格头部样式
.el-table th {
  background-color: rgba(10, 37, 80, .9) !important;
  color: #12c2ec!important;
}
// 表格内容的样式
.el-table tr {
  background-color: transparent;
  color: #7a9cc2!important;
}
//  所有的
.el-table .cell {
  // background-color: transparent;
  // color: #7a9cc2;
  // color: #74a5c9;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid #10345f;
}
.el-table__expand-icon {
  color: #fff;
}
.el-table--border::after {
  background-color: transparent!important;
}

.el-table--border .el-table__cell, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #10345f;
}
// .el-table--striped,
// .el-table__body tr,
// .el-table__row--striped td,
// .el-table--striped .el-table__body tr.el-table__row--striped td {
//   background-color: transparent;
// }
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: transparent;
}
//  最下面儿的白线
.el-table--border::after, .el-table--group::after, .el-table::before {
  background: transparent;
}

.el-button-group>.el-button {
  background: #4e6bab;
  color: #fff;
  border-color: #4e6bab;
}

.el-input__inner {
  background: transparent;
  border-color: #4e6bab;
  color: #fff;
}
//  禁用
.el-textarea.is-disabled .el-textarea__inner,
.el-input.is-disabled .el-input__inner {
  background-color: rgba(16, 43, 121, .7);
  border-color: #4e6bab;
}
.avue--view .el-input.is-disabled .el-input__inner,
.avue--view .el-textarea.is-disabled .el-textarea__inner {
  background-color: #091f5f;
}



.el-input--mini .el-input__inner {
  background: transparent;
}

.el-range-editor.el-input__inner {
  background: transparent;
}

.el-range-editor .el-range-input {
  background: transparent;
}
.el-date-editor .el-range-separator {
  color: white;
}

.el-button--primary {
  background-color: #4e6bab;
  border-color: #4e6bab;
}


.el-tree {
  background: transparent;
  color: #a6cfc9;
  border-color: #1C487A;
}

.el-tree-node:focus>.el-tree-node__content {
  color: #000!important;
}
//  移入树形
.el-tree-node__content:hover {
  background: rgba(0, 229, 255, 0.3) !important;
}
// 选中当前node的样式
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background: rgba(0, 229, 255, 0.5)
}
.el-tree-node.is-current>.el-tree-node__content {
  background: rgba(0, 229, 255, 0.5)!important;
}
.el-tree-node:focus>.el-tree-node__content {
  background-color: transparent;
}
.el-tree-node__label {
  color: #fff;
}
//  标签页
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: none;
  color: white;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  background: rgba(0, 229, 255, 0.28);
}
.el-tabs__nav {
  /* background-color: #082551!important; */
  color: #3aafe2!important;
  height: .208333rem;
}
.el-tabs__nav-wrap::after {
  background-color: #082551!important;
}
.el-tabs__item {
  /* color: #38b4db!important; */
  color: rgba(255, 255, 255, 0.8)!important;
  font-size: .083333rem;
  // font-weight: 600;
}

.is-active {
  color: #3d89f2!important;
}
.el-tabs__header {
  margin: .026042rem;
}

.el-radio-button--mini .el-radio-button__inner {
  padding: 5px 8px;
}
// 弹窗背景色
.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  // background:#08304A ;
  background:#091f5f ;
  > .el-dialog__body {
    overflow: auto;
    color: #66A9D6;
  }
}
.el-dialog > .el-dialog__body{
  overflow: auto;
    color: #66A9D6;
    background: #091f5f!important;
}
// 弹窗头部
.el-dialog__header {
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
  // background: #174B6C;
  background: #102b79;
  border-bottom: none
}
.el-dialog__footer {
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}
.el-dialog__title{
  color: #fff;
}
.el-textarea__inner{
  background: transparent;
  color: #fff;
}
.video-wrapper .video-wrapper-stretch {
  height: 100%!important;
}
.el-scrollbar{
  // background: #174B6C;
  background: #102b79;
  // background-color: rgba(16, 43, 121, .7);
  // border: none;
  border: 1px solid #409EFF;
  // border-radius: .0521rem;
  li{
    color: #a6cfc9
  }
}
// 下拉框去掉白色边框
.el-select-dropdown{
  // border: none;
  border: 1px solid #409EFF;
}
// 移入下拉框
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  // background: #2e6da4;
  background: #0076f6;
  color: #fff;
}

.el-form-item__label {
  color: #67a9d4;
  font-size: .0729rem!important;
}

// 分页
.el-pager li {
  background: transparent;
  color: #fff;
  border: 1px solid #1c487a;
  margin: 0 .026rem;
  border-radius: 4px;
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
  background: transparent;
  color: #fff;
  border: 1px solid #1c487a;
  border-radius: 4px;
}

.el-pagination button:disabled {
  background-color: #004b85;
}
.el-pagination__total,
.el-pagination__sizes .el-input .el-input__inner,
.el-pagination__editor.el-input .el-input__inner,
.el-pagination span:not([class*=suffix]),
.el-pager li.btn-quickprev,
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
  color: #fff;
}

//  抽屉
.el-drawer {
  background: #013366;
}

.el-drawer__header {
  color: #fff;
}
.avue-dialog .el-dialog__title, 
.avue-dialog .el-drawer__header,
.el-drawer__header {
  color: #fff;
}

// el - transfer - panel
.el-transfer-panel {
  border: 1px solid #1c487a;
  background: transparent;
}
.el-transfer-panel .el-transfer-panel__header {
  background: transparent;
  border-bottom: 1px solid #1c487a;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: #fff;
}
.el-transfer-panel__item.el-checkbox .el-checkbox__label {
  color: #a6cfc9;
}
.avue-dialog .el-drawer__header {
  border-bottom: 1px solid #155bbc;
}

// 下拉菜单相关
.el-dropdown-menu {
  background: #102b79;
  border: 1px solid #1c487a;
}
.el-dropdown-menu__item--divided {
  border-top: 1px solid #1c487a;
}
.el-dropdown-menu__item--divided:hover {
  background-color: #0076f6!important;
}

//  Loading - 加载
.el-loading-mask {
  background-color: transparent!important;
}
//  spinner - 颜色  还不确定神马颜色 - 暂时注掉
// .el-loading-spinner .path {
//   stroke: #b2b14a;
// }

// Popover 弹出框
.el-popover {
  padding: 0;
}


//  框架 样式 - 覆盖
.el-collapse-item__wrap {
  background: transparent!important;
  border: transparent!important;
}

.el-collapse-item__header {
  background: transparent!important;
}
.avue-group .el-collapse, .avue-group .el-collapse-item__wrap {
  border-color: transparent!important;
  // border-bottom-color: #0076c8!important;
}

// .avue-crud .el-input--small input, .avue-form .el-input--small input {
//   border-color: #4e6bab;
// }

// 未进入机楼 - 节能诊断、冷战管理、机房管理、健康诊断菜单隐藏
.hide-curr-menu {
  // display: none;
}

//Edit By Fang 由于Avue表格中使用fixed  以下两个样式配合使用
// 表格中使用fixed  通过以下样式设定
.el-table__body .el-table__row.hover-row td {
  background: transparent;
}

// 表格中没用fixed  通过以下样式设定
.el-table tbody tr:hover>td {
  background: rgba(0, 229, 255, .2) !important;
}
// end

// 动态路由字体
div.jsoneditor-field {
  color: #fff!important;
}
div.jsoneditor-field:hover {
  color: #1a1a1a!important;
}

// el-upload相关
// .avatar-uploader .el-upload {
//   border: 1px dashed #d9d9d9;
//   border-radius: 6px;
//   margin-left: 20px;
//   cursor: pointer;
//   position: relative;
//   overflow: hidden;
// }
// .avatar-uploader .el-upload:hover {
//   border-color: #409EFF;
// }
// .avatar-uploader-icon {
//   font-size: 28px;
//   color: #8c939d;
//   width: 150px;
//   height: 150px;
//   line-height: 150px !important;
//   text-align: center;
// }
// .avatar {
//   width: 150x;
//   height: 150px;
//   display: block;
// }

.el-upload--picture-card {
  background: none;
}


// element-ui 计数器
.el-input-number__increase {
  right: 0!important;
}

.is-error .el-input-number__decrease, .is-error .el-input-number__increase, .is-success .el-input-number__decrease, .is-success .el-input-number__increase {
  right: 0!important;
}